<div class="social-icons">
  <div class="left">
    {% if site.github_username %}
      <a class="fa fa-github" href="//github.com/{{ site.github_username }}"></a>
    {% endif %}
    {% if site.bitbucket_username %}
      <a class="fa fa-bitbucket" href="//github.com/{{ site.github_username }}"></a>
    {% endif %}
    <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
    {% if site.twitter_username %}
      <a class="fa fa-twitter" href="//twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fa fa-google-plus" href="//plus.google.com/{{ site.google_plus_id }}/posts"></a>
    {% endif %}
    {% if site.email %}
      <a class="fa fa-envelope" href="{{ site.baseurl }}/contact/"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" href="//www.linkedin.com/in/{{ site.linkedin_username }}"></a>
    {% endif %}
    {% if site.instagram_username %}
      <a class="fa fa-instagram" href="//instagram.com/{{ site.instagram_username }}"></a>
    {% endif %}
  </div>
  <div class="right">
    {% if site.bitcoin_url %}
      <a class="fa fa-bitcoin" href="{{ site.bitcoin_url }}"></a>
    {% endif %}
    {% if site.paypal_url %}
      <a class="fa fa-paypal" href="{{ site.paypal_url }}"></a>
    {% endif %}
    {% if site.flattr_button %}
      {{ site.flattr_button }}
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
